@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white font-roboto relative min-h-screen;
}

.navGlassmorphism {
  background: rgba( 0, 0, 0, 0.25 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
}

.no-scroll {
  overflow: hidden;
}

.textGradient {
  background: -webkit-linear-gradient(#0093dc, #00e7f9);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #00e7f9;
  border-radius: 20px;
}